.pagination_list {
    display: flex;
    flex-direction: row;

    justify-items: center;
    justify-content: center;

}

.pagination_item {
    padding: 20px;
    cursor: pointer;
    background-color: rgb(15, 89, 99);
    color: white;
    margin: 20px 30px;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}

.pagination_item:hover {
    background-color: rgb(54, 117, 255);
  
}